<%- partial('_partial/head') %>
  <body>
    <!-- Nav -->
    <%- partial('_partial/subpage_nav') %>
    <!-- About -->
    <div class="wrapper style1">
      <div class="container">
        <div class="row">
          <div class="3u 12u(mobile)">
            <%- partial('_partial/about_small') %>
          </div>
          <div class="9u 12u(mobile)">
            <%- partial('_partial/page') %>
          </div>
        </div>
      </div>
    </div>
    
<!-- Footer -->
<%- partial('_partial/footer') %>