<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <header>
      <h2>Say Hello!</h2>
      <p>I love meeting peole, I love chit-chat and I love ideas.</p>
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <form method="post" action="http://formspree.io/abhihebbar@gmail.com">
            <div>
              <div class="row">
                <div class="6u 12u(mobile)">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="6u 12u(mobile)">
                  <input type="text" name="email" id="email" placeholder="Email" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="row 200%">
                <div class="12u">
                  <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                    <li><input type="reset" value="Clear Form" class="alt" /></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <hr />
          <h3>Find me on ...</h3>
          <ul class="social">
            <% if(theme.twitter){ %>
            <li><a href="https://www.twitter.com/<%= theme.twitter %>" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <% } %>
            <% if(theme.facebook){ %>
            <li><a href="https://www.facebook.com/<%= theme.facebook %>" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <% } %>
            <% if(theme.dribbble){ %>
            <li><a href="https://www.dribbble.com<%= theme.dribbble %>" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <% } %>
            <% if(theme.linkedin){ %>
            <li><a href="https://www.linkedin.com/in/<%= theme.linkedin %>" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <% } %>
            <% if(theme.tumblr){ %>
            <li><a href="https://www.tumblr.com/<%= theme.tumblr %>" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
            <% } %>
            <% if(theme.google_plus){ %>
            <li><a href="https://plus.google.com/+<%= theme.google_plus %>" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <% } %>
            <% if(theme.github){ %>
            <li><a href="https://github.com/<%= theme.github %>" class="icon fa-github"><span class="label">Github</span></a></li>
            <% } %>
            <% if(theme.skype){ %>
            <li><a href="skype:<%= theme.skype %>?userinfo" class="icon fa-skype"><span class="label">Skype</span></a></li>
            <% } %>
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <footer>
      <ul id="copyright">
        <li>&copy; Abhilash Hebbar. No rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>
  </article>
</div>