  <!-- Scripts -->
  <%- js('js/jquery.min.js') %>
  <%- js('js/jquery.scrolly.min.js') %>
  <%- js('js/skel.min.js') %>
  <%- js('js/skel-viewport.min.js') %>
  <%- js('js/util.js') %>
  <!--[if lte IE 8]><%- js('js/ie/respond.min.js') %><![endif]-->
  <%- js('js/main.js') %>
  <%- css('//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700') %>
  <%- partial('google-analytics') %>
</body>
</html>